<body>

<nav class="main_nav">
    <ul class="left_nav">
        <li><a href="/" class="<%= path === 'home' ? 'active' : '' %>">Home</a></li>
        <li><a href="/subscriptions" class="<%= path === 'subscriptions' ? 'active' : '' %>">Subscriptions</a></li>
    </ul>
</nav>

<div class="main_container">