.main_nav {
    background-color: #3cb970;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.left_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.left_nav li {
    padding: 1em 0;
    border-bottom: 3px solid #3cb970;
    font-size: 1.25em;
    margin: 0;
}

.left_nav li a {
    color: white;
    text-decoration: none;
    padding: 1em 1em;
    margin: 0;
}

.left_nav li a:hover,
.active {
    cursor: pointer;
    color: #5a3c61 !important;
    border-bottom: 3px solid #795783;
}