<%- include('../includes/head.ejs') %>

</head>

<%- include('../includes/nav.ejs') %>

<h1>Welcome!</h1>

<div class="inner_container">
    <p>
        With all of the subscription services available to us, we thought there needed to be a place to view them together!<br><br>
        Welcome to INSERT NAME HERE. We have organized a lot of the subscription services by category for you!<br>
    </p>
    <h3>Coming soon:</h3>
    <ul>
        <li>You will be able to leave a review for the various subscription services.</li>
    </ul>
</div>

<%- include('../includes/foot.ejs') %>